.map-container {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 10px;
}

.map-search {
    margin-bottom: 10px;
    display: flex;
}

.map-search input {
    padding: 8px;
    width: 250px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 30%;
}

.map-search button {
    padding: 8px 12px;
    border: none;
    background-color: #f1221b;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.map-search button:hover {
    background-color: #c91a14;
}

.leaflet-map {
    height: 300px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}




@media (max-width: 570px) {
    .map-search input {
        width: 80%;
    }
}
