.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fff; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.123);
}

.navbar-contents {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 15px 0px;
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 1.125rem;
}

.navbar-link{
    cursor: pointer;
}

.navbar-link:hover{
    font-weight: 500;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 1rem;
    padding: 10px 30px;
    color: #49557e;
    border: 1px solid #f1221b;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fff4f2;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    font-weight: 500;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media (max-width: 1050px ){
    .navbar .logo{
        width: 140px;
    }

    .navbar-menu{
        gap: 20px;
        font-size: 1.0625rem;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width: 900px ){
    .navbar .logo{
        width: 120px;
    }

    .navbar-menu{
        gap: 15px;
        font-size: 1rem;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button{
        padding: 7px 20px;
        font-size: 0.9375;
    }
}

@media (max-width: 750px ){

    .navbar-menu{
        display: none;
    }

}